<p>appointment-list works!</p>
<!-- <p>{{appointment.title}}</p>
  -->
<div>
    <input [(ngModel)]="appointmentTitle" type="text" placeholder="Appointment desc">
    <input [(ngModel)]="appointmentDate" type="date" placeholder="Appointment date">
    <button (click)="addAppointment()">Add</button>
</div>
<ul>
    <li *ngFor="let appointment of appointments; index as i">
        {{appointment.title}} - {{appointment.date | date: 'short'}}
        <button (click)="deleteAppointment(i)">Delete</button>
    </li>
</ul>